﻿@model Boolean

@*<section class="smart-form">
        <label class="toggle pull-left">
            @Html.CheckBoxFor(x => x)
            <i data-swchon-text="Si" data-swchoff-text="No"></i>
        </label>
        <br />
    </section>*@

@*@Html.TextBoxFor(model => model, new { @class = "toggle-switch", @type = "checkbox" })*@

@if (Model)
{
    @Html.TextBoxFor(model => model, new { @class = "toggle-switch", @type = "checkbox", @checked = true })
}
else
{
    @Html.TextBoxFor(model => model, new { @class = "toggle-switch", @type = "checkbox" })
}


