﻿
<nav id="mainnav-container">
    <div id="mainnav">
        <!--OPTIONAL : ADD YOUR LOGO TO THE NAVIGATION-->
        <!--It will only appear on small screen devices.-->
        <link href="~/Template/css/Layout.css" rel="stylesheet" />
        <div class="mainnav-brand">
            <a href="index.html" class="brand">
                <img src="~/img/voto.png" width="50%"  alt="Logo" class="brand-icon" />
            
                <span class="brand-text">VOTACIONES</span>
            </a>
            <a href="#" class="mainnav-toggle"><i class="ion-close-round icon-lg"></i></a>
        </div>

        <!--Menu-->
        <!--================================-->
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">

                    <!--Profile Widget-->
                    <!--================================-->
                    <div id="mainnav-profile" class="mainnav-profile">
                        <div class="profile-wrap text-center">
                            <div class="pad-btm">
                                <img class="img-circle img-md" src="~/Template/img/profile-photos/1.png" alt="Profile Picture">
                            </div>
                            <a href="#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">
                                <span class="pull-right dropdown-toggle">
                                    <i class="dropdown-caret"></i>
                                </span>
                                <p class="mnp-name">@User.Identity.Name</p>
                                <span class="mnp-desc">Usuario</span>
                            </a>
                        </div>
                        <div id="profile-nav" class="collapse list-group bg-trans">
                            <a href="#" class="list-group-item">
                                <i class="fas fa-key"></i> Cambiar Contraseña
                            </a>
                            <a href="@Url.Action("LogOff", "Account")" class="list-group-item">
                                <i class="pli-unlock icon-lg icon-fw"></i> Cerrar Sesion
                            </a>
                        </div>
                    </div>


                    @if (User.IsInRole("seguridad"))
                    {
                        <ul id="mainnav-menu" class="list-group">

                            <li class="list-header">Seguridad</li>
                            <li>
                                <a href="@Url.Action("Usuario","Seguridad")">
                                    <i class="fa fa-user fa-fw"></i>
                                    <span class="menu-title"><strong>Usuarios</strong></span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Roles","Seguridad")">
                                    <i class="fas fa-user-lock fas-fw"></i>
                                    <span class="menu-title"><strong>Permisos</strong></span>
                                </a>
                            </li>

                            <li class="list-divider"></li>
                        </ul>
                    }

                    @if (User.IsInRole("resultados_primaria") || User.IsInRole("resultados_secundaria"))
                    {
                        <ul id="mainnav-menu" class="list-group">
                            <li class="list-header">Resultados</li>
                            <li>

                                @if (User.IsInRole("resultados_primaria"))
                                {
                                    <a href="@Url.Action("Index","Resultados")?idModalidad=1">
                                        <i class="fas fa-file-word fas-fw"></i>
                                        <span class="menu-title"><strong>Resultados Primaria</strong></span>
                                    </a>
                                }

                                @if (User.IsInRole("resultado_secundaria"))
                                {
                                    <a href="@Url.Action("Index","Resultados")?idModalidad=2">
                                        <i class="fas fa-file-word fas-fw"></i>
                                        <span class="menu-title"><strong>Resultados Secundaria</strong></span>
                                    </a>
                                }
                            </li>
                            <li class="list-divider"></li>

                        </ul>
                    }

                    @if (User.IsInRole("estadisticas_primaria") || User.IsInRole("estadisticas_secundaria"))
                    {
                        <ul id="mainnav-menu" class="list-group">
                            <li class="list-header">Estadisticas</li>

                            <li>

                                @if (User.IsInRole("estadisticas_primaria"))
                                {
                                    <a href="@Url.Action("Index","Estadisticas")?idModalidad=1">
                                        <i class="fas fa-poll-h fas-fw"></i>
                                        <span class="menu-title"><strong>Estadisticas Primaria</strong></span>
                                    </a>
                                }

                                @if (User.IsInRole("estadisticas_secundaria"))
                                {
                                    <a href="@Url.Action("Index","Estadisticas")?idModalidad=2">
                                        <i class="fas fa-poll-h fas-fw"></i>
                                        <span class="menu-title"><strong>Estadisticas Secundaria</strong></span>
                                    </a>
                                }
                            </li>
                            <li class="list-divider"></li>
                        </ul>
                    }

                    @if (User.IsInRole("it_mantenimiento"))
                    {
                        <ul id="mainnav-menu" class="list-group">

                            <li class="list-header">Configuraciones</li>
                            <li>
                                <a href="@Url.Action("Index","Alumnos")">
                                    <i class="fas fa-users fa-fw"></i>
                                    <span class="menu-title"><strong>Estudiantes</strong></span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Planilla")">
                                    <i class="fas fa-address-card fa-fw"></i>
                                    <span class="menu-title"><strong>Planillas</strong></span>
                                </a>
                            </li>


                            <li class="list-divider"></li>
                        </ul>
                    }






                </div>
            </div>
        </div>

    </div>
</nav>















