﻿
<div id="MyModalBig" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="bounceInDown animated">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="color:white!important;"> <i class="fa fa-times"></i></button>
                <h4 class="modal-title" id="MyModalTitleBig"></h4>
            </div>
            <div class="modal-body" id="MyModalBodyBig">

            </div>
        </div>
    </div>
</div>



@*<div id="MyModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog bounceInDown animated" id="MyModalSize">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="color:white!important;"> <i class="fa fa-times"></i></button>
                <button type="button" class="close" onclick="ExpandirModal(this)" style="margin-right:20px; color:white!important;"> <i class="fa fa-expand"></i>    </button>
                <h4 class="modal-title" id="MyModalTitle"></h4>
            </div>
            <div class="modal-body" id="MyModalBody">

            </div>
        </div>
    </div>
</div>*@

<div class="modal fade" id="MyModal" role="dialog" aria-hidden="true" >
    <div class="modal-dialog" >
        <div class="modal-content"  id="MyModalContent">

            <!--Modal header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h4 class="modal-title">Modal Heading</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
               
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
              
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalWaitingTime" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body col-lg-12">
                <div class="col-lg-12 no-padding" style="text-align: center;">
                    <h3><b>Sistema de votaciones</b></h3>
                    <h5><b>Cargando....</b></h5>

                    <div class="col-lg-12 no-padding">

                        <img class="status2" id="statusID" src="~/Template/img/loading.gif" />

                    </div>

                </div>

            </div>

            <div class="modal-footer">

            </div>
        </div>
    </div>

</div>

<div class="modal bounceInDown animated" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-body" id="modalBody">
            <div class="form-group">

            </div>
        </div>
    </div>
</div>























