﻿@model BaseProject.Models.Seguridad.PermisosPorUsuarioViewModel

<div class="panel">
    <div class="panel-heading">
        <h1 class="panel-title"><i class="fas fa-plus-circle fa-fw"></i> Asignar Permisos al usuario: @Model.Nombre</h1>
    </div>
    <div class="panel-body">
        <form id="frmRol" method="post">
            <div class="form-horizontal">

                <table class="table table-responsive table-bordered" style="width:100%;" id="dtRoles">
                    <thead>
                        <tr>
                            <th style="width:100%;">Permisos</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <div class="widget-footer">
                    <button type='button' class='btn btn-danger' data-dismiss='modal'><i class="text-lg ion-close-round"></i> Cerrar</button>
                    <button type="button" class="btn btn-success js-asignarRoles"><i class="text-lg ion-checkmark-round"></i> Guardar</button>
                </div>

            </div>

        </form>

    </div>
</div>

<script>

    var dtRoles;

    $(document).ready(function () {

        dtRoles = $('#dtRoles').DataTable({
            autoWidth: true,
            responsive: true,
            language: {
                "emptyTable": "No se encontraron resultados.",
                "search": '<div class="icon-addon addon-md"><label for="search" class="ion-search"></label>',
                "paginate": {
                    first: "Primero",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Ultimo"
                },
                "lengthMenu": " _MENU_ ",
                "info": "Mostrando registros del _START_ al _END_ de _TOTAL_ registros totales.",
                "infoEmpty": "No hay registros para mostrar.",
            },
            "ajax": {
                url: '@Url.Action("ObtenerPermisos", "Seguridad")',
                global: false,
                data: { userId: '@Model.UserId' },
                "type": "GET",
                "datatype": "json",
                "error": function (xhr, status, error) { }
            },
            columns: [
                {
                    data: null,
                    render: function (data, type, row) {

                        return '<div class="checkbox"> <input id="check-'+row.RoleId+'" class="magic-checkbox" type="checkbox" ' + (row.Asignado == 1 ? 'checked' : '') + ' name="checkboxItem" /><label for="check-'+row.RoleId+'">' + row.Rol +'</label> </div>';
                    }
                }
            ]
        });

    });

    $("#dtRoles tbody").on('click', 'input[type="checkbox"]', function (e) {
        var $row = $(this).closest('tr');
        var data = dtRoles.row($row).data();
        data.Asignado = this.checked ? 1 : 2;
        e.stopPropagation();
    });


    $(document).on('click', '.js-asignarRoles', function () {
        var ListaDetalle = [];
        var dt = $.fn.dataTable.Api('#dtRoles');

        dt.rows().every(function (rowIdx, tableLoop, rowLoop) {
            ListaDetalle.push(this.data());
        });

        $.ajax({
            url: "@Url.Action("GuardarSeleccionPermisos", "Seguridad")",
            type: 'POST',
            data: { UserId: '@Model.UserId', ListaDetalle: ListaDetalle },
            success: function (data) {
                if (data.Ok) {
                    $("#myModal").modal("hide");
                    AlertaAjax(data);
                } else {
                    AlertaAjax(data);
                }
            }
            
        });


    });

</script>
