﻿@model BaseProject.Models.Seguridad.UsuarioViewModel

<div class="panel">
    <div class="panel-heading">
        <h1 class="panel-title"><i class="fas fa-key fa-fw"></i> Cambiar Contraseña a @Model.nombre</h1>
    </div>
    <div class="panel-body">
        <form id="frmPassword" method="post">
            <div class="form-horizontal">

                @Html.HiddenFor(model => model.UserId)
                @Html.HiddenFor(model => model.usuario)

                <div class="form-group">
                    <label class="col-lg-12">Nueva contraseña: </label>
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.contrasena, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>
                



                <div class="widget-footer">
                    <button type='button' class='btn btn-danger' data-dismiss='modal'><i class="text-lg ion-close-round"></i> Cerrar</button>
                    <button type="submit" class="btn btn-success"><i class="text-lg ion-checkmark-round"></i> Guardar</button>
                </div>

            </div>

        </form>

    </div>
</div>

<script>

    $(document).ready(function () {

        $('#frmPassword').validate({
            ignore: [],
            rules: {
                contrasena: {
                    required: true,
                    minlength: 5
                }
            },
            messages: {
                contrasena: {
                    required: "Contraseña requerida",
                    minlength: "Por Favor introduzca al menos 5 caracteres para la contraseña"
                }
            },
            submitHandler: function (form) {

                $.ajax({
                    url: "@Url.Action("ChangePassword","Seguridad")",
                    type: "post",
                    dataType: "JSON",
                    data: $(form).serialize(),
                    beforeSend: function () {
                        LoadWaitNotification();
                    },
                    complete: function () {
                        UnloadWaitNotification();
                    },
                    success: function (data) {
                        if (data.Ok) {
                            //exito("Advertencia","Usuario creado exitosamente!");
                            $("#myModal").modal("hide");
                            dtUsuarios.ajax.reload(null, false);
                        }
                        else {
                            //fallo("Advertencia", data.Msj);
                        }
                    }
                });

                return false;
            }
        });

    });

</script>

