﻿
@model BaseProject.Models.Seguridad.RolViewModel

<div class="panel">
    <div class="panel-heading">
        <h1 class="panel-title"><i class="fas fa-edit fa-fw"></i> Editar Permiso @Model.RoleName</h1>
    </div>
    <div class="panel-body">
        <form id="frmRol" method="post">
            <div class="form-horizontal">

                @Html.HiddenFor(model => model.idAplicaccion)
                @Html.HiddenFor(model => model.RoleId)

                <div class="form-group">
                    <label class="col-lg-12">Rol: </label>
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-12">Descripcion: </label>
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>

                <div class="widget-footer">
                    <button type='button' class='btn btn-danger' data-dismiss='modal'><i class="text-lg ion-close-round"></i> Cerrar</button>
                    <button type="submit" class="btn btn-success"><i class="text-lg ion-checkmark-round"></i> Guardar</button>
                </div>

            </div>

        </form>

    </div>
</div>

<script>

    $(document).ready(function (){

        $('#frmRol').validate({
            ignore: [],
            rules: {
                RoleName: {
                    required: true
                },
                descripcion: {
                    required: true
                }

            },
            messages: {
                RoleName: {
                    required: "Rol requerido"
                },
                descripcion: {
                    required: "Descripcion requerida"
                }
            },
            submitHandler: function (form) {

                $.ajax({
                    url: "@Url.Action("EditarRol","Seguridad")",
                    type: "post",
                    dataType: "JSON",
                    data: $(form).serialize(),
                    /*beforeSend: function () {
                        LoadWaitNotification();
                    },
                    complete: function () {
                        UnloadWaitNotification();
                    },*/
                    success: function (data) {
                        if (data.Ok) {
                            
                            $("#myModal").modal("hide");
                            dtRoles.ajax.reload(null, false);
                            AlertaAjax(data);
                        }
                        else {
                            AlertaAjax(data);
                        }
                    }
                });

                return false;
            }
        });

    });

</script>

