﻿
@model BaseProject.Models.Seguridad.UsuarioViewModel

<div class="panel">
    <div class="panel-heading">
        <h1 class="panel-title"><i class="fas fa-edit fa-fw"></i> Editar Usuario <strong>@Model.usuario</strong></h1>
    </div>
    <div class="panel-body">
        <form id="frmUsuario" method="post">
            <div class="form-horizontal">

                @Html.HiddenFor(model => model.UserId)
                @Html.HiddenFor(model => model.usuario)

                <div class="form-group">
                    <label class="col-lg-12">Nombre: </label>
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-12">Correo: </label>
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-12">Cargo: </label>
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.cargo, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>



                <div class="widget-footer">
                    <button type='button' class='btn btn-danger' data-dismiss='modal'><i class="text-lg ion-close-round"></i> Cerrar</button>
                    <button type="submit" class="btn btn-success"><i class="text-lg ion-checkmark-round"></i> Guardar</button>
                </div>

            </div>

        </form>

    </div>
</div>

<script>

    $(document).ready(function (){

        $('#frmUsuario').validate({
            ignore: [],
            rules: {
                nombre: {
                    required: true
                },
                email: {
                    email: true
                },
                cargo: {
                    required: true
                }

            },
            messages: {
                nombre: {
                    required: "Nombre del usuario requerido"
                },
                email: {
                    email: "Ingrese una direccion de correo valida"
                },
                cargo: {
                    required: "Ingrese cargo del usuario"
                }
            },
            submitHandler: function (form) {

                $.ajax({
                    url: "@Url.Action("EditarUsuario","Seguridad")",
                    type: "post",
                    dataType: "JSON",
                    data: $(form).serialize(),
                    beforeSend: function () {
                        LoadWaitNotification();
                    },
                    complete: function () {
                        UnloadWaitNotification();
                    },
                    success: function (data) {
                        if (data.Ok) {
                            
                            $("#myModal").modal("hide");
                            dtUsuarios.ajax.reload(null, false);
                            AlertaAjax(data);
                        }
                        else {
                            AlertaAjax(data);
                        }
                    }
                });

                return false;
            }
        });

    });

</script>