﻿
<div class="panel">
    <div class="panel-heading">
        <div class="panel-control">

            <a  class="btn btn-success js-crear"><i class="fa fa-plus-circle fa-fw"></i> Nueva Sucursal</a>
        </div>
        <h3 class="panel-title"> <i class="fa fa-building fa-fw"></i>Lista de sucursales</h3>
    </div>

    <div class="panel-body">
        <table class="table table-responsive table-bordered table-hover" style="width:100%;" id="dtSucursales">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Sucursal</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>


    </div>
</div>

@section Scripts{
    
    <script>

        var dtSucursales;

        $(document).ready(function () {


            dtSucursales = $('#dtSucursales').DataTable({
                autoWidth: true,
                responsive: true,
                language: {
                    "emptyTable": "No se encontraron resultados.",
                    "search": '<div class="icon-addon addon-md"><label for="search" class="ion-search"></label>',
                    "paginate": {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    }, 
                    "lengthMenu": " _MENU_ ",
                    "info": "Mostrando registros del _START_ al _END_ de _TOTAL_ registros totales.",
                    "infoEmpty": "No hay registros para mostrar.",
                },
                "ajax": {
                    url: '@Url.Action("GetTablaSucursales", "Seguridad")',
                    "type": "GET",
                    "datatype": "json",
                    "error": function (xhr, status, error) { }
                },
                columns: [
                    { "data": "id", "autoWidth": true },
                    { "data": "sucursal", "autoWidth": true },
                    { "data": "direccion", "autoWidth": true },
                    { "data": "telefono", "autoWidth": true },
                    {
                        "data": "null",
                        render: function (data, type, row, meta) {
                            return '<div class="btn-group"> <button class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Acciones <i class="fa fa-caret-down fa-lg"></i> </button>' +
                                '<ul class="dropdown-menu">' +
                                '<li><a href="#" data-sucursal="' + row.id + '" name="Edit">Editar</a>' +
                                '</ul></div>';
                        }
                    }
                ]
            });


        });

        $(document).on('click', '.js-crear', function () {

            $.ajax({
                url: "@Url.Action("CrearSucursal", "Seguridad")",
                type: "GET",
                beforeSend: function() {
                    LoadWaitNotification();
                },
                complete: function() {
                    UnloadWaitNotification();
                },
                success: function (data) {
                    $("#modalBody").html(data);
                    $('#myModal').modal({ backdrop: 'static', keyboard: false })
                    $("#myModal").modal("show");
                }
            });


        });


        $('#dtSucursales tbody').on('click', 'a[name="Edit"]', function () {

            var sucursal = $(this).data('sucursal');
            $.ajax({
                    url: "@Url.Action("EditarSucursal", "Seguridad")",
                    type: "GET",
                    beforeSend: function() {
                        LoadWaitNotification();
                    },
                    complete: function() {
                        UnloadWaitNotification();
                    },
                    data: { idSucursal: sucursal },
                    success: function (data) {
                        $("#modalBody").html(data);
                        $('#myModal').modal({ backdrop: 'static', keyboard: false })
                        $("#myModal").modal("show");
                    }
                });

        });

        


    </script>


}

