﻿@model BaseProject.Models.AlumnosViewModel

<div class="panel">
    <div class="panel-heading">
        <h1 class="panel-title"><i class="fas fa-edit fa-fw"></i> Editar Alumno @Model.Nombre</h1>
    </div>
    <div class="panel-body">
        <form id="frm" method="post">
            <div class="form-horizontal">

                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    <label class="col-lg-12">Identidad: </label>
                    <div class="col-lg-12">
                        <input class="form-control input-lg numeric" id="Identidad" name="Identidad" type="text" value="@Model.Identidad"/>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-12">Nombre: </label>
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-12">Grado: </label>
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.Grado, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>


                <div class="form-group">
                    <label class="col-lg-12">Seccion: </label>
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.Seccion, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-12">Jornada: </label>
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.Jornada, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-12">Modalidad: </label>
                    <div class="col-lg-12">
                        @Html.DropDownListFor(model => model.ModalidadId, Model.lst as IEnumerable<SelectListItem>, new { @class = "form-control input-lg select2", style = "width:100%;" })
                    </div>
                </div>

                <div class="widget-footer">
                    <button type='button' class='btn btn-danger' data-dismiss='modal'><i class="text-lg ion-close-round"></i> Cerrar</button>
                    <button type="submit" class="btn btn-success"><i class="text-lg ion-checkmark-round"></i> Guardar</button>
                </div>

            </div>

        </form>

    </div>
</div>

<script>

    $(document).ready(function () {

        $('.select2').chosen();

        $(".numeric").keypress(function (e) {
            if (String.fromCharCode(e.keyCode).match(/[^0-9]/)) return false;
        });

        $('#frm').validate({
            ignore: [],
            rules: {
                Nombre: {
                    required: true,
                    maxlength: 300
                },
                Identidad: {
                    required: true,
                    maxlength: 13
                },
                Jornada: {
                    required: true,
                    maxlength: 100
                },
                Grado: {
                    required: true,
                    maxlength: 100
                },
                Seccion: {
                    required: true,
                    maxlength: 100
                }
            },
            messages: {
                Nombre: {
                    required: "Campos requeridos!",
                    maxlength: "Ingrese un maximo de 300 caracteres"
                },
                Identidad: {
                    required: "Campos requeridos!",
                    maxlength: "Ingrese un maximo de 13 caracteres"

                },
                Jornada: {
                    required: "Campos requeridos!",
                    maxlength: "Ingrese un maximo de 100 caracteres"
                },
                Grado: {
                    required: "Campos requeridos!",
                    maxlength: "Ingrese un maximo de 100 caracteres"
                },
                Seccion: {
                    required: "Campos requeridos!",
                    maxlength: "Ingrese un maximo de 100 caracteres"
                }
            },
            submitHandler: function (form) {

                $.ajax({
                    url: "@Url.Action("EditarAlumno","Alumnos")",
                    type: "post",
                    dataType: "JSON",
                    data: $(form).serialize(),
                    beforeSend: function () {
                        LoadWaitNotification();
                    },
                    complete: function () {
                        UnloadWaitNotification();
                    },
                    success: function (data) {
                        if (data.Ok) {
                            $("#myModal").modal("hide");
                            dtAlumno.ajax.reload(null, false);
                            AlertaAjax(data);
                        }
                        else {
                            AlertaAjax(data);
                        }
                    }
                });

                return false;
            }
        });


    });

</script>
