﻿
<div class="panel">
    <div class="panel-heading">
        <div class="panel-control">

            <a class="btn btn-success js-crear"><i class="fa fa-plus-circle fa-fw"></i> Nuevo Alumno</a>
        </div>
        <h3 class="panel-title"> <i class="fas fa-list-alt fa-fw"></i>Listado Alumnos</h3>
    </div>

    <div class="panel-body">
        <table class="table table-responsive table-bordered table-hover" style="width:100%;" id="dtAlumno">
            <thead>
                <tr>
                    <th>Identidad</th>
                    <th>Nombre</th>
                    <th>Jornada</th>
                    <th>Grado</th>
                    <th>Modalidad</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts{
    
    <script>

        var dtAlumno;

        $(document).ready(function () {


            dtAlumno = $('#dtAlumno').DataTable({
                autoWidth: true,
                responsive: true,
                language: {
                    "emptyTable": "No se encontraron resultados.",
                    "search": '<div class="icon-addon addon-md"><label for="search" class="ion-search"></label>',
                    "paginate": {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    },
                    "lengthMenu": " _MENU_ ",
                    "info": "Mostrando registros del _START_ al _END_ de _TOTAL_ registros totales.",
                    "infoEmpty": "No hay registros para mostrar.",
                },
                "ajax": {
                    url: '@Url.Action("ObtenerTabla", "Alumnos")',
                    "type": "GET",
                    "datatype": "json",
                    "error": function (xhr, status, error) { }
                },
                columns: [
                    { "data": "Identidad", "autoWidth": true },
                    { "data": "Nombre", "autoWidth": true },
                    { "data": "Jornada", "autoWidth": true },
                    { "data": "Grado", "autoWidth": true },
                    { "data": "Modalidad", "autoWidth": true },
                    //{
                    //    data: null,
                    //    render: function (data) {
                    //        if (data.Activo) {
                    //            return '<div class="label label-success">'+data.DescripcionActivo+'</div>';
                    //        } else {
                    //            return '<div class="label label-danger">'+data.DescripcionActivo+'</div>';
                    //        }
                    //    }
                    //},
                    {
                        "data": "null",
                        render: function (data, type, row, meta) {
                            return '<div class="btn-group"> <button class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Acciones <i class="fa fa-caret-down fa-lg"></i> </button>' +
                                '<ul class="dropdown-menu">' +
                                '<li><a href="javascript: void(0)" data-alumno="' + row.Id + '" name="Edit">Editar</a></li>' +
                                '</ul></div>';
                        }
                    }
                ]
            });


        });

        $(document).on('click', '.js-crear', function () {

            $.ajax({
                url: "@Url.Action("CrearAlumno", "Alumnos")",
                type: "GET",
                beforeSend: function() {
                    LoadWaitNotification();
                },
                complete: function() {
                    UnloadWaitNotification();
                },
                success: function (data) {
                    $("#modalBody").html(data);
                    $('#myModal').modal({ backdrop: 'static', keyboard: false })
                    $("#myModal").modal("show");
                }
            });


        });


        $('#dtAlumno tbody').on('click', 'a[name="Edit"]', function () {

            var alumno = $(this).data('alumno');

            $.ajax({
                    url: "@Url.Action("EditarAlumno", "Alumnos")",
                    type: "GET",
                    beforeSend: function() {
                        LoadWaitNotification();
                    },
                    complete: function() {
                        UnloadWaitNotification();
                    },
                    data: { Id: alumno },
                    success: function (data) {
                        $("#modalBody").html(data);
                        $('#myModal').modal({ backdrop: 'static', keyboard: false })
                        $("#myModal").modal("show");
                    }
                });

        });




    </script> 
    
}
