﻿@model BaseProject.Models.Planilla.PlanillaViewModel

<div class="panel">
    <div class="panel-heading">
        <h1 class="panel-title"><i class="fas fa-plus-square fa-fw"></i> Nueva Planilla</h1>
    </div>
    <div class="panel-body">

        <div class="row">

            <div class="col col-lg-6">

                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Planilla</legend>

                    <form id="frmInformacionGeneral" method="post">

                        <div class="form-horizontal">

                            <div class="row">

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label class="col-lg-12">Nombre Planilla</label>

                                        <div class="col-md-12">

                                            @Html.EditorFor(model => model.Planilla, new { htmlAttributes = new { @class = "form-control" } })


                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label class="col-lg-12">Eslogan</label>

                                        <div class="col-md-12">
                                            @Html.TextAreaFor(model => model.Eslogan, new { @class = "form-control", @placeholder = "Escribir un eslogan aqui", @rows = 5, @width = "100%", @style = "resize: none;" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label class="col-lg-12">Modalidad:</label>

                                        <div class="col-md-12">
                                            @Html.DropDownList("ModalidadId", Model.lst as IEnumerable<SelectListItem>, new { @class = "form-control select2", style = "width:100%;" })

                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>

                    </form>

                </fieldset>



            </div>

            <div class="col-lg-6">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Logo Planilla</legend>

                    <form action="@Url.Action("SubirAdjuntoPlanilla", "Planilla", new { idPlanilla = 0})" class="dropzone dz-clickable js-dropzone" id="mydropzone">
                        <div class="dz-default dz-message">
                            <span>
                                <span class="text-center">
                                    <span class="font-lg visible-xs-block visible-sm-block visible-lg-block">
                                        <span class="font-lg">
                                            <i class="fas fa-file-image text-danger"></i>
                                            </i> Drop files <span class="font-xs">to upload</span>
                                        </span><span>&nbsp;&nbsp;<h4 class="display-inline"> (Or Click)</h4></span>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </form>

                </fieldset>
            </div>

        </div>

        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Agregar Cargo</legend>

            <form method="post" id="frmDetalle">
                <div class="form-horizontal">
                    <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="form-group">
                                <label class="col-lg-12">Estudiante</label>

                                <div class="col-md-12">
                                    @Html.DropDownList("AlumnoId", Model.lstAlumnos as IEnumerable<SelectListItem>, new { @class = "form-control select2", style = "width:100%;" })

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="form-group">
                                <label class="col-lg-12">Cargo</label>

                                <div class="col-md-12">
                                    @Html.DropDownList("cargoId", Model.lstCargo as IEnumerable<SelectListItem>, new { @class = "form-control select2", style = "width:100%;" })

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="form-group">
                                <label class="col-lg-12">Foto Estudiante</label>
                                <div class="col-md-10">
                                    <input id="fileStream" type="file" accept="image/*">
                                </div>
                                <div class="col-md-1 col-sm-1 col-lg-1">
                                    <div class="btn btn-primary btn-sm js-estudiante" type="button" data-toggle="tooltip" data-placement="top" title="Agregar Estudiante"><i class="fa fa-plus"></i></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </form>


        </fieldset>


        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Estudiantes</legend>

            <table class="table table-reponsive table-bordered" id="dtAlumnosCargo" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th data-class="expand">Alumno</th>
                        <th data-class="expand">Cargo</th>
                        <th data-class="expand">Fotografia</th>
                        <th data-class="expand"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </fieldset>

        <div class="widget-footer">

            <div class="widget-footer">
                <button type='button' class='btn btn-danger' data-dismiss='modal'><i class="text-lg ion-close-round"></i> Cerrar</button>
                <button type="submit" class="btn btn-success crearPlanilla"><i class="text-lg ion-checkmark-round"></i> Guardar</button>
            </div>



        </div>

    </div>
</div>


@section Scripts{
    
    
    <script>

        var lstCargos = [];
        var final_;
        var dtAlumnosCargo;

        Dropzone.autoDiscover = false;

        $(document).ready(function () {

            $('.select2').select2();

            $('#mydropzone').dropzone({
                autoProcessQueue: false,
                addRemoveLinks: true,
                maxFilesize: 50,
                maxFiles: 1,
                parallelUploads: 1,
                uploadMultiple: false,
                dictDefaultMessage:
                    '<span class="text-center"><span class="font-lg visible-xs-block visible-sm-block visible-lg-block"><span class="font-lg"><i class="fa fa-caret-right text-danger"></i> Drop files <span class="font-xs">to upload</span></span><span>&nbsp&nbsp<h4 class="display-inline"> (Or Click)</h4></span>',
                dictResponseError: 'Error uploading file!',
                removedfile: function(file) {
                    var _ref;
                    (ref = file.previewElement) != null ? ref.parentNode.removeChild(file.previewElement) : void 0;
                },
                init: function() {

                    myDropzone = this;

                    myDropzone.on('complete',
                        function(file) {
                            window.location.href = '@Url.Action("Index","Planilla")';
                        });
                }
            });

            $('#dtAlumnosCargo').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "paging": false,
                "ordering": false,
                "info": false,
                "searching": false
            });

            dtAlumnosCargo = $('#dtAlumnosCargo').DataTable();

            $("#ModalidadId").change(function () {
                var idModalidad = this.value;

                $.ajax({
                    url: "@Url.Action("AlumnosPorModalidad", "Planilla")",
                    type: "get",
                    data: { idModalidad: idModalidad },
                    beforeSend: function () {
                        LoadWaitNotification();
                    },
                    complete: function () {
                        UnloadWaitNotification();
                    },
                    success: function (data) {
                        $('#AlumnoId').empty();
                    
                        $('#dtAlumnosCargo tbody').empty();
                    
                        $.each(data, function (i, item) {
                            $('#AlumnoId').append('<option value="' + item.Value + '">' + item.Text + '</option>');
                        });


                        $('#dtAlumnosCargo tbody').empty();

                        lstCargos = [];
                        dtAlumnosCargo = $('#dtAlumnosCargo').DataTable();
                        dtAlumnosCargo.clear();

                    }
                });
            });

        });

        $('#fileStream').on('change', function () {
            var fileReader = new FileReader();
            fileReader.onload = function () {
                var data = fileReader.result;
                final_ = data.replace(/^data:image\/(png|jpg|jpeg);base64,/, "");
                console.log(final_);// data <-- in this var you have the file data in Base64 format
            };
            fileReader.readAsDataURL($('#fileStream').prop('files')[0]);
        });

        $('#frmInformacionGeneral').validate({
            ignore: [],
            rules: {
                Planilla: {
                    required: true,
                    maxlength: 200
                },
                Eslogan: {
                    required: true,
                    maxlength: 500
                },
            },
            messages: {
                Planilla: {
                    required: "Campo requerido",
                    maxlength: "Ingrese un maximo de 200 caracteres"
                },
                Eslogan: {
                    required: "Campo requerido",
                    maxlength: "Ingrese un maximo de 500 caracteres"
                }
            },
            submitHandler: function (form) {

                var data = $(form).serializeArray();


                var planilla = {
                    Planilla: data[0].value,
                    Eslogan: data[1].value,
                    ModalidadId: data[2].value,
                    lstDetalle: lstCargos
                };

                $.ajax({
                    "async": false,
                    "url": '@Url.Action("CrearPlanilla", "Planilla")',
                    "type": "POST",
                    "data": { model: planilla },
                    success: function(response) {

                        console.log(response);

                        myDropzone.on('sending', function (file, xhr, data) {
                            data.append("idPlanilla", response.id);
                        });

                        myDropzone.processQueue();

                    }
                });


            }

        })


        $(document).on('click', '.js-estudiante', function () {

            if (final_ == null) {
                var ErrorData = {
                    Ok: false,
                    Message: "Debe de adjuntar una fotografia del estudiante"
                };
                AlertaAjax(ErrorData);
            } else {

                var estudiante = $('#AlumnoId option:selected').text();
                var Cargo = $('#cargoId option:selected').text();

                var existe = false;

                dtAlumnosCargo.rows().every(function (rowIdx, tableLopp, rowLopp) {
                    if (this.data()[0] === estudiante || this.data()[1] === Cargo) {
                        existe = true;
                    }

                });

                if (existe) {

                    var ErrorData = {
                        Ok: false,
                        Message: "El estudiante o el cargo ya estan agregados!"
                    };
                    AlertaAjax(ErrorData);


                } else {

                    var estudianteId = $('#AlumnoId option:selected').val();
                    var CargoId = $('#cargoId option:selected').val();

                    var alumno = {
                        AlumnoId: estudianteId,
                        CargoId: CargoId,
                        base64: final_
                    };

                    lstCargos.push(alumno);

                    dtAlumnosCargo.row.add([
                        estudiante,
                        Cargo,
                        '<image style="display:block; width:200px;height:150px;" src="data:image/jpeg;base64,' + final_ + '">',
                        '<button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>'
                    ]).draw();


                    $('#fileStream').val('');
                    final_ = null;

                }
            }
        });


        $(document).on('click', '.crearPlanilla', function () {
            if (myDropzone.getQueuedFiles().length == 0) {
                var ErrorData = {
                    Ok: false,
                    Message: "Debe de adjuntar una imagen como eslogan"
                };
                AlertaAjax(ErrorData);

            } else {

                if (dtAlumnosCargo.data().count() <= 0 && dtAlumnosCargo.data().count() < 36) {
                    var ErrorData = {
                        Ok: false,
                        Message: "Debe de agregar por lo menos 9 estudiantes a la planilla"
                    };
                    AlertaAjax(ErrorData);
                } else {
                    $('#frmInformacionGeneral').submit();
                }

            }



        });

    </script>
    
}

