﻿@model BaseProject.Models.Planilla.PlanillaViewModel

<div class="panel">
    <div class="panel-heading">
        <h1 class="panel-title"><i class="fas fa-plus-square fa-fw"></i> Editar Planilla</h1>
    </div>
    <div class="panel-body">

        <div class="row">

            <div class="col col-lg-6">

                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Planilla</legend>

                    <form id="frmInformacionGeneral" method="post">

                        <div class="form-horizontal">

                            <div class="row">

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label class="col-lg-12">Nombre Planilla</label>

                                        <div class="col-md-12">

                                            @Html.EditorFor(model => model.Planilla, new { htmlAttributes = new { @class = "form-control" } })


                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label class="col-lg-12">Eslogan</label>

                                        <div class="col-md-12">
                                            @Html.TextAreaFor(model => model.Eslogan, new { @class = "form-control", @placeholder = "Escribir un eslogan aqui", @rows = 5, @width = "100%", @style = "resize: none;" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label class="col-lg-12">Modalidad:</label>

                                        <div class="col-md-12">
                                            @Html.DropDownList("ModalidadId", Model.lst as IEnumerable<SelectListItem>, new { @class = "form-control select2", style = "width:100%;" })

                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>

                    </form>

                </fieldset>



            </div>

            <div class="col-lg-6">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Logo Planilla</legend>

                    <form action="@Url.Action("SubirAdjuntoPlanilla", "Planilla", new { idPlanilla = Model.Id})" class="dropzone dz-clickable js-dropzone" id="mydropzone">
                        <div class="dz-default dz-message">
                            <span>
                                <span class="text-center">
                                    <span class="font-lg visible-xs-block visible-sm-block visible-lg-block">
                                        <span class="font-lg">
                                            <i class="fas fa-file-image text-danger"></i>
                                            </i> Drop files <span class="font-xs">to upload</span>
                                        </span><span>&nbsp;&nbsp;<h4 class="display-inline"> (Or Click)</h4></span>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </form>

                </fieldset>
            </div>

        </div>

        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Agregar Cargo</legend>

            <form method="post" id="frmDetalle">
                <div class="form-horizontal">
                    <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="form-group">
                                <label class="col-lg-12">Estudiante</label>

                                <div class="col-md-12">
                                    @Html.DropDownList("AlumnoId", Model.lstAlumnos as IEnumerable<SelectListItem>, new { @class = "form-control select2", style = "width:100%;" })

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="form-group">
                                <label class="col-lg-12">Cargo</label>

                                <div class="col-md-12">
                                    @Html.DropDownList("cargoId", Model.lstCargo as IEnumerable<SelectListItem>, new { @class = "form-control select2", style = "width:100%;" })

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="form-group">
                                <label class="col-lg-12">Foto Estudiante</label>
                                <div class="col-md-10">
                                    <input id="fileStream" type="file" accept="image/*">
                                </div>
                                <div class="col-md-1 col-sm-1 col-lg-1">
                                    <div class="btn btn-primary btn-sm js-estudiante" type="button" data-toggle="tooltip" data-placement="top" title="Agregar Estudiante"><i class="fa fa-plus"></i></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </form>


        </fieldset>


        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Estudiantes</legend>

            <table class="table table-reponsive table-bordered" id="dtAlumnosCargo" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th data-class="expand">Id</th>
                        <th data-class="expand">Alumno</th>
                        <th data-class="expand">Cargo</th>
                        <th data-class="expand">Fotografia</th>
                        <th data-class="expand"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </fieldset>

        <div class="widget-footer">

            <div class="widget-footer">
                <button type='button' class='btn btn-danger' data-dismiss='modal'><i class="text-lg ion-close-round"></i> Cerrar</button>
                <button type="submit" class="btn btn-success crearPlanilla"><i class="text-lg ion-checkmark-round"></i> Guardar</button>
            </div>



        </div>

    </div>
</div>


@section Scripts{
    
    <script>

        var myDropzone;

        var yaSubio = false;
        Dropzone.autoDiscover = false;
        var dtAlumnosCargo;
        var lstCargos = [];
        var final_;

        $(document).ready(function () {

            $('#frmInformacionGeneral').validate({
            ignore: [],
            rules: {
                Planilla: {
                    required: true,
                    maxlength: 200
                },
                Eslogan: {
                    required: true,
                    maxlength: 500
                },
            },
            messages: {
                Planilla: {
                    required: "Campo requerido",
                    maxlength: "Ingrese un maximo de 200 caracteres"
                },
                Eslogan: {
                    required: "Campo requerido",
                    maxlength: "Ingrese un maximo de 500 caracteres"
                }
            },
            submitHandler: function (form) {

                var data = $(form).serializeArray();


                var planilla = {
                    Id: '@Model.Id',
                    Planilla: data[0].value,
                    Eslogan: data[1].value,
                    ModalidadId: data[2].value
                };

                $.ajax({
                    "async": false,
                    "url": '@Url.Action("EditarPlanilla", "Planilla")',
                    "type": "POST",
                    "data": { model: planilla },
                    success: function(response) {

                        if (response.Ok) {
                            myDropzone.processQueue();
                            yaSubio = true;
                        }

                        

                    }
                });


            }

        })



            $('#mydropzone').dropzone({
                autoProcessQueue: false,
                addRemoveLinks: true,
                maxFilesize: 50,
                maxFiles: 10,
                parallelUploads: 10,
                uploadMultiple: true,
                dictDefaultMessage:
                    '<span class="text-center"><span class="font-lg visible-xs-block visible-sm-block visible-lg-block"><span class="font-lg"><i class="fa fa-caret-right text-danger"></i> Drop files <span class="font-xs">to upload</span></span><span>&nbsp&nbsp<h4 class="display-inline"> (Or Click)</h4></span>',
                dictResponseError: 'Error uploading file!',
                removedfile: function (file) {
                    if (file.id)
                        DeleteFile(file);
                },
                init: function () {

                    myDropzone = this;

                    $.ajax({
                        url: '@Url.Action("ObtenerAdjunto", "Planilla")',
                        type: "GET",
                        data: { idPlanilla: '@Model.Id' },
                        success: function (adjuntos) {
                            console.log(adjuntos);

                            var file = { name: adjuntos.Nombre, size: Number(adjuntos.AdjuntoLength), type: adjuntos.Tipo, id: adjuntos.Id };
                            var idAdjunto = adjuntos.idAdjunto;
                            myDropzone.options.addedfile.call(myDropzone, file);
                            myDropzone.files.push(file)
                            myDropzone.on("complete", function (file) {
                                var a = document.createElement('a');
                                a.setAttribute('href', "@Url.Action("DescargarAdjunto", "Planilla")?&idPlanilla=@Model.Id");
                                a.setAttribute('class', 'dz-remove js-download');
                                a.setAttribute('target', '_blank');
                                a.innerHTML = "Download";
                                $(file.previewTemplate).find('.js-download').remove();
                                file.previewTemplate.appendChild(a);
                            });
                            myDropzone.emit("complete", file);


                        },
                        beforeSend: function () {
                            LoadWaitNotification();
                        },
                        complete: function () {
                            UnloadWaitNotification();
                        }
                    });

                    myDropzone.on('complete',
                        function (file) {
                            if (yaSubio) {
                                window.location.href = '@Url.Action("Index","Planilla")';
                            }
                        });

                }

            });

            dtAlumnosCargo = $('#dtAlumnosCargo').DataTable({
                autoWidth: true,
                responsive: true,
                language: {
                    "emptyTable": "No se encontraron resultados.",
                    "search": '<div class="icon-addon addon-md"><label for="search" class="ion-search"></label>',
                    "paginate": {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    },
                    "lengthMenu": " _MENU_ ",
                    "info": "Mostrando registros del _START_ al _END_ de _TOTAL_ registros totales.",
                    "infoEmpty": "No hay registros para mostrar.",
                },
                "ajax": {
                    url: '@Url.Action("GetDetallePlanilla", "Planilla")?idPlanilla=@Model.Id',
                    "type": "GET",
                    "datatype": "json",
                    
                    "error": function (xhr, status, error) { }
                },
                "columnDefs": [
                    {
                        "targets": [ 0 ],
                        "visible": false,
                        "searchable": false
                    }
                ],
                columns: [
                    { "data": "Id", "autoWidth": true },
                    { "data": "Alumno", "autoWidth": true },
                    { "data": "Cargo", "autoWidth": true },
                    {
                        "data": "null",
                        render: function (data, type, row, meta) {
                            return "<image style='display:block; width:200px;height:150px;' src='/Planilla/ObtenerImagen?id="+ row.Id +"'>";
                        }
                    },
                    {
                        "data": "null",
                        render: function (data, type, row, meta) {
                            
                            return '<button class="btn btn-danger" name="eliminar" data-cargo="'+row.AlumnoId+'"><i class="fa fa-trash" aria-hidden="true"></i></button>'
                        }
                    }
                ],
                "order": [[ 0, "asc" ]]
            });



        });


        function DeleteFile(file) {

            var _ref;
            return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
            yaSubio = true;

        }

        $(document).on('click', '.js-estudiante', function () {

            if (final_ == null) {
                var ErrorData = {
                    Ok: false,
                    Message: "Debe de adjuntar una fotografia del estudiante"
                };
                AlertaAjax(ErrorData);
            } else {

                var estudiante = $('#AlumnoId option:selected').text();
                var Cargo = $('#cargoId option:selected').text();

                var existe = false;

                dtAlumnosCargo.rows().every(function (rowIdx, tableLopp, rowLopp) {

                    console.log(this.data());

                    if (this.data().Alumno === estudiante || this.data().Cargo === Cargo) {
                        existe = true;
                    }

                });

                if (existe) {

                    var ErrorData = {
                        Ok: false,
                        Message: "El estudiante o el cargo ya estan agregados!"
                    };
                    AlertaAjax(ErrorData);


                } else {

                    var estudianteId = $('#AlumnoId option:selected').val();
                    var CargoId = $('#cargoId option:selected').val();

                    var alumno = {
                        AlumnoId: estudianteId,
                        CargoId: CargoId,
                        base64: final_,
                        idPlanilla: '@Model.Id'
                    };


                    $.ajax({
                        url: "@Url.Action("AgregarCargoEstudiante", "Planilla")",
                        type: "POST",
                        "async": false,
                        data: { detalle: alumno },
                        beforeSend: function () {
                            LoadWaitNotification();
                        },
                        complete: function () {
                            UnloadWaitNotification();
                        },
                        success: function (data) {
                            if (data.Ok) {
                                dtAlumnosCargo.ajax.reload(null, false);
                            }
                        }
                    });

                    $('#fileStream').val('');
                    final_ = null;

                }
            }
        });

        $('#fileStream').on('change', function () {
            var fileReader = new FileReader();
            fileReader.onload = function () {
                var data = fileReader.result;
                final_ = data.replace(/^data:image\/(png|jpg|jpeg);base64,/, "");
                console.log(final_);// data <-- in this var you have the file data in Base64 format
            };
            fileReader.readAsDataURL($('#fileStream').prop('files')[0]);
        });

        $('#dtAlumnosCargo tbody').on('click', 'button', function () {
            var data = $(this).data('cargo');
            var row = $(this).parents('tr');

            $.ajax({
                url: "@Url.Action("EliminarCargoEstudiante", "Planilla")",
                type: "POST",
                "async": false,
                data: { idEstudiante: data, idPlanilla: '@Model.Id' },
                beforeSend: function () {
                    LoadWaitNotification();
                },
                complete: function () {
                    UnloadWaitNotification();
                },
                success: function (data) {
                    if (data.Ok) {

                        dtAlumnosCargo.row(row).remove().draw(false);

                    }
                }
            });
        });

        $(document).on('click', '.crearPlanilla', function () {

            $('#frmInformacionGeneral').submit();

        });
        


    </script>
    
    
}
