﻿
<div class="panel">
    <div class="panel-heading">
        <div class="panel-control">

            <a class="btn btn-success js-crear"><i class="fa fa-plus-circle fa-fw"></i> Nueva Planilla</a>
        </div>
        <h3 class="panel-title"> <i class="fas fa-list-alt fa-fw"></i>Listado Planillas</h3>
    </div>

    <div class="panel-body">
        <table class="table table-responsive table-bordered table-hover" style="width:100%;" id="dtPlanilla">
            <thead>
                <tr>
                    <th>Planilla</th>
                    <th>Eslogan</th>
                    <th>Modalidad</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts{

    <script>

        var dtPlanilla;

        

        $(document).ready(function () {

            dtPlanilla = $('#dtPlanilla').DataTable({
                autoWidth: true,
                responsive: true,
                language: {
                    "emptyTable": "No se encontraron resultados.",
                    "search": '<div class="icon-addon addon-md"><label for="search" class="ion-search"></label>',
                    "paginate": {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    },
                    "lengthMenu": " _MENU_ ",
                    "info": "Mostrando registros del _START_ al _END_ de _TOTAL_ registros totales.",
                    "infoEmpty": "No hay registros para mostrar.",
                },
                "ajax": {
                    url: '@Url.Action("ObtenerTabla", "Planilla")',
                    "type": "GET",
                    "datatype": "json",
                    "error": function (xhr, status, error) { }
                },
                columns: [
                    { "data": "Planilla", "autoWidth": true },
                    { "data": "Eslogan", "autoWidth": true },
                    { "data": "Modalidad", "autoWidth": true },
                    {
                        "data": null,
                        render: function (data, type, row, meta) {
                            return '<div class="btn-group"> <button class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Acciones <i class="fa fa-caret-down fa-lg"></i> </button>' +
                                '<ul class="dropdown-menu">' +
                                '<li><a href="javascript: void(0)" data-planilla="' + row.Id + '" name="Edit">Editar</a>'+
                                '</ul></div>';
                        }
                    }
                    
                ]


            });

        });

        $(document).on('click', '.js-crear', function () {
            window.location.href = "@Url.Action("CrearPlanilla", "Planilla")";
        });

        $('#dtPlanilla tbody').on('click', 'a[name="Edit"]', function () {

            var planilla = $(this).data('planilla');

            window.location.href = '@Url.Action("EditarPlanilla","Planilla")?idPlanilla=' + planilla;

        });



    </script>    
    
}