﻿@model BaseProject.Models.Resultados.PlanillaEncViewModel

<div class="panel">
    <div class="panel-heading">
        <div class="panel-control">

        </div>
        <h3 class="panel-title"> <i class="fas fa-list-alt fa-fw"></i>Resultados de la votacion de la modalidad @Model.Modalidad</h3>
    </div>

    <div class="panel-body">

        <table class="table table-responsive table-bordered table-hover" style="width:100%;" id="dtResultados">
            <thead>
                <tr>
                    <th>Estudiantes</th>
                    <th>Grado</th>
                    <th>Jornada</th>
                    <th>Seccion</th>
                    <th>Voto</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <div class="row">

            <div class="col-lg-12 col-md-12 col-xs-12">

                <div class="panel panel-info panel-colorful">
                    <div class="pad-all text-center">
                        <h2 class="text-light mar-no pad-top">Resumen</h2>
                        <h3 class="mar-btm">Resultado de votacion de @Model.Modalidad</h3>
                    </div>
                    <div class="widget-body bg-dark">
                        

                        <div class="list-group bg-trans mar-no">

                            @foreach (var item in Model.lstPlanilla)
                            {
                                <a class="list-group-item list-item-sm" href="#">
                                    <span class="label label-success pull-right">@item.Total</span>
                                    @item.Planilla
                                </a>
                            }

                        </div>
                    </div>
                </div>


            </div>


        </div>


    </div>
</div>

@section Scripts{

    <script>

        var dtResultados;



        $(document).ready(function () {

            dtResultados = $('#dtResultados').DataTable({
                autoWidth: true,
                responsive: true,
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: '<i class="fa fa-print"></i>',
                        extend: 'print',
                        className: 'btn btn-success btn-lg',
                    },

                ],
                language: {
                    "emptyTable": "No se encontraron resultados.",
                    "search": '<div class="icon-addon addon-md"><label for="search" class="ion-search"></label>',
                    "paginate": {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    },
                    "lengthMenu": " _MENU_ ",
                    "info": "Mostrando registros del _START_ al _END_ de _TOTAL_ registros totales.",
                    "infoEmpty": "No hay registros para mostrar.",
                },
                "ajax": {
                    url: '@Url.Action("GetTabla", "Resultados")',
                    data: { idModalidad: '@Model.idModalidad' },
                    "type": "GET",
                    "datatype": "json",
                    "error": function (xhr, status, error) { }
                },
                columns: [
                    { "data": "Estudiante", "autoWidth": true },
                    { "data": "Grado", "autoWidth": true },
                    { "data": "Jornada", "autoWidth": true },
                    { "data": "Seccion", "autoWidth": true },
                    { "data": "Planilla", "autoWidth": true }
                ]
            });

        });
    </script>

}

