﻿
@model BaseProject.Models.Votacion.VotacionViewModel
@{
    ViewBag.Title = "BPWALLET";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sistema Votacion Online</title>

    <link runat="server" rel="shortcut icon" href="~/Favicon/favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/Favicon/favicon.ico" type="image/ico" />


    <!--STYLESHEET-->
    <!--=================================================-->
    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!--Bootstrap Stylesheet [ REQUIRED ]-->

    <link href="~/Template/css/bootstrap.min.css" rel="stylesheet" />
    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="~/Template/css/nifty.min.css" rel="stylesheet">
    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="~/Template/css/demo/nifty-demo-icons.min.css" rel="stylesheet">
    <!--=================================================-->
    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="~/Template/css/pace.min.css" rel="stylesheet">
    <script src="~/Template/js/pace.min.js"></script>
    <link href="~/Template/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
    <!--Demo [ DEMONSTRATION ]-->


    <link href="~/Template/css/themes/type-a/theme-prickly-pear.min.css" rel="stylesheet" />
</head>

<body style="overflow:hidden;background-color:#ffffff" >

    <div id="container" class="effect aside-float" style="background-image: url('../../img/background-votacion.jpeg'); background-repeat: no-repeat; background-size: contain; background-attachment: fixed;">


        <div class="cls-content" style="padding-top:35vh;">
            <div class="cls-content-lg panel">
                <div class="panel-body text-center" style="background-color:transparent;">

                    <form id="frm" method="post">

                        
                        <h3 style="color:#0ab1fc;"><strong>Sistema de Votaciones Estudiantiles</strong></h3>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger text-center" })
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.Identidad, new { @class = "form-control input-lg numeric", @placeholder = "Ingrese su Registro Nacional Estudiantil", @autofocus = true, @maxlength = "13" })
                            @Html.ValidationMessageFor(m => m.Identidad, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <button class="btn btn-info btn-lg btn-block" type="submit">Entrar</button>
                        </div>



                    </form>



                </div>


            </div>
        </div>

    </div>

    <!--jQuery [ REQUIRED ]-->
    <script src="~/Template/js/jquery.min.js"></script>
    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="~/Template/js/bootstrap.min.js"></script>
    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="~/Template/js/nifty.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Template/js/Personalized/Alertas.js"></script>
    <script src="~/Template/plugins/bootstrap-sweetalert/sweetalert.min.js"></script>
</body>
</html>

<script>

    $(".numeric").keypress(function (e) {
        if (String.fromCharCode(e.keyCode).match(/[^0-9]/)) return false;
    });

    $('#frm').validate({
        ignore: [],
        rules: {
            Identidad: {
                required: true,
                maxlength: 13
            }

        },
        messages: {
            Identidad: {
                required: "Campos requeridos!",
                maxlength: "Ingrese un maximo de 13 caracteres"
            }

        },
        submitHandler: function (form) {

            $.ajax({
                url: "@Url.Action("ValidarEstudiante","Votacion")",
                type: "post",
                dataType: "JSON",
                data: $(form).serialize(),
                //beforeSend: function () {
                //    LoadWaitNotification();
                //},
                //complete: function () {
                //    UnloadWaitNotification();
                //},
                success: function (data) {
                    if (data.Ok) {
                        window.location.href = '@Url.Action("votacionPlanilla","Votacion")?identidad=' + $('#Identidad').val();
                    }
                    else {
                        AlertaAjax(data);
                    }
                }
            });

            return false;

        }
    })




</script>


<style>

    .error{
        color:red;
    }

    .cls-content {
        top: 0.3em;
        right: 15em;
        position: absolute;
    }


</style>
    

    


}

