﻿@model BaseProject.Models.Votacion.VotacionPlanilla
    <link href="~/Content/slick.css" rel="stylesheet" />
<div class="panel">
    <div class="panel-heading">
        <div class="panel-control">

            <a class="btn btn-warning js-cerrar"><i class="fas fa-sign-out-alt fa-fw"></i>Salir</a>
        </div>
        <h1 class="panel-title">Votacion Estudiantil </h1>
    </div>
    <div class="panel-body">

        <div class="row">

            <div class="col col-lg-12">

                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Datos del Estudiante</legend>

                    <form id="frm" method="post">
                        <div class="form-horizontal">

                            <div class="row">

                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label class="col-lg-12">Identidad: <strong>@Model.Identidad</strong></label>

                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label class="col-lg-12">Nombre: <strong>@Model.Nombre</strong></label>

                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label class="col-lg-12">Grado: <strong>@Model.Grado</strong></label>

                                    </div>
                                </div>
                                



                            </div>


                            <div class="row">

                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label class="col-lg-12">Seccion: <strong>@Model.Seccion</strong></label>

                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label class="col-lg-12">Jornada: <strong>@Model.Jornada</strong></label>

                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label class="col-lg-12">Modalidad: <strong>@Model.Modalidad</strong></label>

                                    </div>
                                </div>



                            </div>
                        </div>

                    </form>

                </fieldset>




            </div>

            <div class="col col-lg-12">

                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Elije la planilla de tu eleccion</legend>

                    <div class="col-lg-12">


                        <div class="slider">

                            @foreach (var lst in Model.lstPlanilla)
                            {
                                <div>
                                    <div class="panel widget">
                                        <div class="widget-header bg-info text-center">
                                            <h2 class="text-light mar-no pad-top">@lst.PlanillaNombre</h2>
                                            <p class="mar-btm">@lst.Logo</p>
                                        </div>
                                        <div class="widget-body bg-dark">
                                            <img alt="Profile Picture" class="widget-img img-circle img-border-light" src="@Url.Action("ObtenerEsloganPlanilla","Votacion")?idPlanilla=@lst.Id">
                                            <div class="pad-all text-center text-mint">
                                                <img alt="Avatar" style="height:120px;width:120px;" class="img-lg img-circle img-border mar-btm" src="@Url.Action("ObtenerImagenesCandidatos","Votacion")?idPlanilla=@lst.Id&idCandidato=@lst.lstDetalle.FirstOrDefault(x => x.CargoId == 1).CargoId">
                                                <h4 class="text-light mar-no">@lst.lstDetalle.FirstOrDefault(x => x.CargoId == 1).Alumno</h4>
                                                <p class="text-light mar-no">@lst.lstDetalle.FirstOrDefault(x => x.CargoId == 1).Cargo</p>
                                                <br />
                                                <ul class="list-unstyled text-center text-light bord-top pad-top mar-no row">


                                                    @foreach (var item in lst.lstDetalle.Where(x => x.CargoId != 1).OrderBy(x => x.CargoId))
                                                    {
                                                        <li class="col-xs-12 col-lg-3">
                                                            <img alt="Avatar" class="img-lg img-circle img-border mar-btm" src="@Url.Action("ObtenerImagenesCandidatos","Votacion")?idPlanilla=@lst.Id&idCandidato=@item.CargoId">

                                                            <p class="text-muted mar-no">@item.Cargo</p>
                                                        </li>
                                                    }

                                                </ul>
                                                <ul class="list-unstyled text-center text-light bord-top pad-top mar-no row">

                                                    <li class="col-xs-12 col-lg-12">
                                                        <button data-planilla="@lst.Id" data-alumno="@Model.Id" class="btn btn-info btn-block btn-lg js-votar">Votar</button>
                                                    </li>

                                                </ul>


                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }


                        </div>
                        <div class="text-center">
                            <button type="button" class="slick-next btn btn-success btn-lg" id="next">Siguiente Planilla</button>

                        </div>

                    </div>







                </fieldset>


            </div>


        </div>



    </div>
</div>




<style>
    #container.mainnav-lg #footer, #container.mainnav-lg #content-container {
        padding-left: 0px !important;
    }

    body, #content-container, #navbar {
        background-color: #ecf0f5;
    }

    .bx-wrapper img {
    }
</style>

@section Scripts{

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script>

        $(document).ready(function () {
            $('.slider').slick({
                prevArrow: false,
                nextArrow: $('#next')
            });
        });

        $(document).on('click', '.js-votar', function () {
            var planilla = $(this).data('planilla');
            var alumno = $(this).data('alumno');

            $.ajax({
                url: "@Url.Action("GuardarVotacion","Votacion")",
                type: "post",
                dataType: "JSON",
                data: { IdAlumno: alumno,IdPlanilla: planilla },
                beforeSend: function () {
                    LoadWaitNotification();
                },
                complete: function () {
                    UnloadWaitNotification();
                },
                success: function (data) {
                    if (data.Ok) {
                        
                        AlertaAjax(data);

                     var delayInMilliseconds = 3000; //1 second

                    setTimeout(function() {
                        window.location.href = '@Url.Action("index")';
                    }, delayInMilliseconds);

                    }
                    else {
                        AlertaAjax(data);
                    }
                }
            });



        });

        $(document).on('click', '.js-cerrar', function () {
            window.location.href = '@Url.Action("Index","votacion")';

        });


    </script>

}





