﻿@model BaseProject.Models.Usuario.CambiarContraseñaUsuarioViewModel
<!--Modal header-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle fa-fw fa-lg"></i></button>
    <h4 class="modal-title">Cambiar Contraseña</h4>
</div>

<!--Modal body-->
<div class="modal-body">
    <form id="MyFormModal">
        @Html.HiddenFor(model => model.Id)

        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group mar-btm">
                        <span class="input-group-addon"><i class="fa fa-comment-dots"></i></span>
                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group mar-btm">
                        <span class="input-group-addon"><i class="fa fa-comment-dots"></i></span>
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-link btn-lg pull-left text-danger" type="button"><i class="text-lg ion-close-round"></i></button>
            <button class="btn btn-link btn-lg text-success"><i class="text-lg ion-checkmark-round"></i></button>
        </div>
    </form>
</div>

<!--Modal footer-->
@Scripts.Render("~/bundles/jqueryval")
<script>
    $("select").select2();
    $("#MyFormModal").submit(function (event) {
        event.preventDefault();
        if (!$("#MyFormModal").valid()) { return false;  }
        var model = @Html.Raw(Json.Encode(Model));
        model.NewPassword = $("#NewPassword").val();
        model.ConfirmPassword = $("#ConfirmPassword").val();

        $.ajax({
            url: '/Usuario/CambiarContrasenaUsuario',
            type: 'POST',
            data: JSON.stringify({ model: model }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.Estado) {
                    CerrarModal();  
                }
                AlertaAjax(data);
            },
            error: function (data) {
                AlertaError();
            },
        });


    });
</script>

