﻿@model BaseProject.Models.Usuario.CrearUsuarioViewModel

@{
    ViewBag.Title = "CrearUsuario";
}
<div class="panel">
    <div class="panel-heading">
        <h1 class="panel-title">Crear Usuario</h1>
    </div>
    <div class="panel-body">


        <form id="MyFormModal">
            @Html.HiddenFor(model => model.Id)
            <div class="row">
                <div class="col-sm-6">c
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group mar-btm">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group mar-btm">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                        @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group mar-btm">
                            <span class="input-group-addon"><i class="fa fa-calendar-alt"></i></span>
                            @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control", @Value = Model.FechaNacimiento.ToString("yyyy-MM-dd")} })

                        </div>
                        @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group mar-btm">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                        @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group mar-btm">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.IdRol, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group mar-btm" style="width:100%;">
                            @Html.DropDownListFor(model => model.IdRol, new SelectList(ViewBag.ListaRoles, "Value", "Text"), null, new { @class = "form-control input-lg", @style = "width:100%;" })
                        </div>
                        @Html.ValidationMessageFor(model => model.IdRol, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group mar-btm">
                            <span class="input-group-addon"><i class="fa fa-comment-dots"></i></span>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group mar-btm">
                            <span class="input-group-addon"><i class="fa fa-comment-dots"></i></span>
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br />
            @*<div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Fk_IdCategoria, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group mar-btm" style="width:100%;">
                                @Html.DropDownListFor(model => model.Fk_IdCategoria, new SelectList(ViewBag.ListaCategoriaIngreso, "Value", "Text"), null, new { @class = "form-control", @style = "width:100%;" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Fk_IdCategoria, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>*@

            <div class="modal-footer">
                <a class="btn btn-default pull-left" href="/usuario/index"><i class="text-lg ion-close-round"></i> Cancelar</a>
                <button class="btn btn-success"><i class="text-lg ion-checkmark-round"></i> Guardar</button>
            </div>
        </form>

    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
 
    <script>
  
     //   $('#FechaNacimiento').bootstrapMaterialDatePicker({ weekStart: 0, time: false });  
        $("#IdRol").select2();

    $("#MyFormModal").submit(function (event) {
        event.preventDefault();
        if (!$("#MyFormModal").valid()) {
            return false;
        }
        var model = @Html.Raw(Json.Encode(Model));
        model.Nombre = $("#Nombre").val();
        model.Apellido = $("#Apellido").val();
        model.FechaNacimiento = $("#FechaNacimiento").val();
        model.Telefono = $("#Telefono").val();
        model.Email = $("#Email").val();
        model.IdRol = $("#IdRol").val();
        model.Password = $("#Password").val();
        model.ConfirmPassword = $("#ConfirmPassword").val();

                  $.ajax({
                      url: '/Usuario/CrearUsuario',
                      type: 'POST',
                      data: JSON.stringify({ model: model }),
                      contentType: "application/json; charset=utf-8",
                      success: function (data) {
                          AlertaCrear(data, "/Usuario/Index");
                      },
                      error: function (data) {
                          AlertaError();
                      },
                  });


    });
    </script>
}

