﻿@model BaseProject.Models.Usuario.CrearUsuarioViewModel

<!--Modal header-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle fa-fw fa-lg"></i></button>
    <h4 class="modal-title">Editar Informacion Personal</h4>
</div>

<!--Modal body-->
<div class="modal-body">
    <form id="MyFormModal">
        @Html.HiddenFor(model => model.Id)
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group mar-btm">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group mar-btm">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                    @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group mar-btm">
                        <span class="input-group-addon"><i class="fa fa-calendar-alt"></i></span>
                        @Html.EditorFor(model => model.FechaNacimiento)

                    </div>
                    @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group mar-btm">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>




        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-link btn-lg pull-left text-danger" type="button"><i class="text-lg ion-close-round"></i></button>
            <button class="btn btn-link btn-lg text-success"><i class="text-lg ion-checkmark-round"></i></button>
        </div>

    </form>
</div>

<!--Modal footer-->
@Scripts.Render("~/bundles/jqueryval")

<script>
 
    $('#FechaNacimiento').bootstrapMaterialDatePicker({ weekStart: 0, time: false });

    //$('#date-start').bootstrapMaterialDatePicker({ weekStart: 0, time: false}).on('open', function (e, date) {
    //    $(this).style("z-index", "10000");
    //});


    $("#MyFormModal").submit(function (event) {
        event.preventDefault();
        if (!$("#MyFormModal").valid()) {
            return false;
        }
        var model = @Html.Raw(Json.Encode(Model));
        model.Nombre = $("#Nombre").val();
        model.Apellido = $("#Apellido").val();
        model.FechaNacimiento = $("#FechaNacimiento").val();
        model.Telefono = $("#Telefono").val();
            $.ajax({
                url: '/Usuario/EditarInfoUsuario',
                type: 'POST',
                data: JSON.stringify({ model: model }),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.Estado) {
                        CerrarModal();
                        tablaPrincipal.ajax.reload().draw(false);
                    }
                    AlertaAjax(data);
                },
                error: function (data) {
                    AlertaError();
                },
            });


    });
</script>
