﻿@{
    ViewBag.Title = "Usuarios";
}


<div class="panel">
    <div class="panel-heading">
        <div class="panel-control">
           
            <a href="@Url.Action("CrearUsuario")" class="btn btn-success"><i class="fa fa-plus fa-fw"></i> Nuevo Usuario</a>
        </div>
        <h3 class="panel-title"> <i class="fa fa-user fa-fw"></i>Lista de Usuarios</h3>
    </div>
  
    <div class="panel-body">
        <table class="table table-responsive table-bordered table-hover" style="width:100%;" id="TablaPrincipal">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre y Apellido</th>
                    <th>Usuario</th>
                    <th>Activo</th>
                    <th>Rol Usuario</th>
                    <th>Correo Electronico</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Telefono</th>


                </tr>
            </thead>
            <tbody></tbody>
        </table>


    </div>
</div>

@section Scripts {

    <script>

        function MostrarEditarInfo(id) {
            $.ajax({
                url: "/Usuario/EditarInfoUsuario",
                method: "get",
                data: { id: id },
                success: function (resp) {
                    ShowModal(resp);
                },
                error: function (resp) {
                    alert("Error");
                }
            });
        }

        function MostrarEditarCuenta(id) {
            $.ajax({
                url: "/Usuario/EditarCuentaUsuario",
                method: "get",
                data: { id: id },
                success: function (resp) {
                    ShowModal(resp);
                },
                error: function (resp) {
                    alert("Error");
                }
            });
        }

        function MostrarCambiarContrasena(id) {
            $.ajax({
                url: "/Usuario/CambiarContrasenaUsuario",
                method: "get",
                data: { id: id },
                success: function (resp) {
                    ShowModal(resp);
                },
                error: function (resp) {
                    alert("Error");
                }
            });
        }

        function Desactivar(id) {
            $.ajax({
                url: "/Usuario/DeshabilitarUsuario",
                method: "post",
                data: { id: id },
                success: function (data) {
                    if (data.Estado) {
                        tablaPrincipal.ajax.reload().draw(false);
                    }
                    AlertaAjax(data);
                },
                error: function (resp) {
                    AlertaError();
                }
            });
        }






        var tablaPrincipal = $('#TablaPrincipal').DataTable({
            autoWidth: true,
            responsive: true,
            language: {
                "emptyTable": "No se encontraron resultados.",
                "search": '<div class="icon-addon addon-md"><label for="search" class="ion-search"></label>',
                "paginate": {
                    first: "Primero",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Ultimo"
                },
                "lengthMenu": " _MENU_ ",
                "info": "Mostrando registros del _START_ al _END_ de _TOTAL_ registros totales.",
                "infoEmpty": "No hay registros para mostrar.",
            },

            order: [[1, "desc"]],
            ajax: {
                url: '@Url.Action("CargarListaUsuarios", "Usuario")',
                method: "Get",
                dataSrc: function (data) {
                    return data;
                }
            },
            
            columns: [
                        {
                data: null,
                render: function (data) {
                    var opciones = '<div class="btn-group"> <button class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Acciones <i class="fa fa-caret-down fa-lg"></i> </button>';
                    opciones += '<ul class="dropdown-menu">';
                    opciones += '<li><a href="javascript:void(0)" onclick="MostrarEditarInfo(' + data.Id + ')"> Editar Informacion Personal</a></li>';
                    opciones += '<li><a href="javascript:void(0)" onclick="MostrarEditarCuenta(' + data.Id + ')"> Editar Cuenta de Usuario</a></li>';
                    opciones += '<li><a href="javascript:void(0)" onclick="MostrarCambiarContrasena(' + data.Id + ')"> Cambiar Contraseña</a></li>';
                    opciones += '<li><a href="javascript:void(0)" onclick="Desactivar(' + data.Id + ')"> ' + (data.Activo ? 'Deshabilitar Usuario' : 'Habilitar Usuario') + '</a></li>';
                    
                  
                    opciones += '</ul></div>';
                    return opciones;
                }
                },
                {
                    data: null,
                    render: function (data) {

                        return data.Nombre + " " + data.Apellido;
                    }
                },
                {
                    data: 'UserName'
                },
                {
                    data: null,
                    render: function (data) {
                        if (data.Activo) {
                            return '<div class="label label-success">SI</div>';
                        } else {
                            return '<div class="label label-danger">NO</div>';
                        }

                    }
                },
                {
                    data: null,
                    render: function (data) {

                        return `<span class="padding-5 label label-info">${data.NombreRol}</span>`;


                    }
                },

                {
                    data: 'Email'
                },
                {
                    data: null,
                    render: function (data) {

                        return '<div style="display:none;">' + moment(data.FechaNacimiento) + '</div>' + moment(data.FechaNacimiento).format("DD/MM/YYYY");
                    }
                },
               
                {
                    data: 'Telefono'
                },
               


               

            ]

        });


    </script>
}

