﻿@using BaseProject.Models
@model LoginViewModel
@{
    ViewBag.Title = "BPWALLET";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sistema Votacion Online</title>
    <!--STYLESHEET-->
    <!--=================================================-->
    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!--Bootstrap Stylesheet [ REQUIRED ]-->

    <link href="~/Template/css/bootstrap.min.css" rel="stylesheet" />
    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="~/Template/css/nifty.min.css" rel="stylesheet">
    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="~/Template/css/demo/nifty-demo-icons.min.css" rel="stylesheet">
    <!--=================================================-->
    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="~/Template/css/pace.min.css" rel="stylesheet">
    <script src="~/Template/js/pace.min.js"></script>
    <!--Demo [ DEMONSTRATION ]-->

    
    <link href="~/Template/css/themes/type-a/theme-prickly-pear.min.css" rel="stylesheet" />
</head>

<body style="overflow:hidden;background-color:#ffffff">

    <div id="container" class="effect aside-float" style="background-image: url('../../img/background-votacion.jpeg'); background-repeat: no-repeat; background-size: contain; background-attachment: fixed;">

        <!-- BACKGROUND IMAGE -->
        <!--===================================================-->
       
        <!-- LOGIN FORM -->
        <!--===================================================-->
        <div class="cls-content" style="padding-top:30vh;">
            <div class="cls-content-sm panel">
                <div class="panel-body text-center" style="background-color:transparent;">
                    <div class="">

                    </div>
                    <h3 style="color:#0ab1fc;"><strong>Iniciar sesion</strong></h3>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {

                        @Html.ValidationSummary(true, "", new { @class = "text-danger text-center" })
                        <div class="form-group">
                            @*<input type="text" class="form-control" placeholder="Usuario" autofocus>*@
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-lg", @placeholder = "Correo o usuario", @autofocus = true })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder = "Contraseña" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            <button class="btn btn-info btn-lg btn-block" type="submit">Entrar</button>
                        </div>

                        @*<div class="checkbox pad-btm text-left">

                <input id="demo-form-ch" class="magic-checkbox" type="checkbox" name="RememberMe">
                <label for="demo-form-ch">Recordarme</label>
            </div>*@
                        @*<div class="checkbox pad-btm text-left">

                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "magic-checkbox" })
                @Html.LabelFor(m => m.RememberMe)
            </div>*@





                    }
                    @*<form action="index.html">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Usuario" autofocus>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Contraseña">
            </div>
            <div class="checkbox pad-btm text-left">
                <input id="demo-form-checkbox" class="magic-checkbox" type="checkbox">
                <label for="demo-form-checkbox">Recordarme</label>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Entrar</button>
        </form>*@
                </div>

                @*<div class="pad-all text-center">
                   
                    <hr />
                    <a href="~/Account/Register" class="btn-link mar-lft" style="color:white;">Registrarse</a>
                    <div class="media pad-top bord-top">

                    
                    </div>
                </div>*@
            </div>
        </div>
        <!--===================================================-->
        <!-- DEMO PURPOSE ONLY -->
        <!--===================================================-->
        @*<div class="demo-bg">
            <div id="demo-bg-list">
                <div class="demo-loading"><i class="psi-repeat-2"></i></div>
                <img class="demo-chg-bg bg-trans active" src="/Template/img/bg-img/thumbs/bg-trns.jpg" alt="Background Image">
                <img class="demo-chg-bg" src="/Template/img/bg-img/thumbs/bg-img-1.jpg" alt="Background Image">
                <img class="demo-chg-bg" src="/Template/img/bg-img/thumbs/bg-img-2.jpg" alt="Background Image">

            </div>
        </div>*@
        <!--===================================================-->
    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->
    <!--JAVASCRIPT-->
    <!--=================================================-->
    <!--jQuery [ REQUIRED ]-->
    <script src="~/Template/js/jquery.min.js"></script>
    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="~/Template/js/bootstrap.min.js"></script>
    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="~/Template/js/nifty.min.js"></script>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>

    .error {
        color: red;
    }

    .cls-content {
        top: 0.3em;
        right: 15em;
        position: absolute;
    }
</style>