﻿@model BaseProject.Models.Resultados.PlanillaEncViewModel

<div class="panel">
    <div class="panel-heading">
        <div class="panel-control">

        </div>
        <h3 class="panel-title"> <i class="fas fa-list-alt fa-fw"></i>Estadistica de la votacion de la modalidad @Model.Modalidad</h3>
    </div>

    <div class="panel-body">

        <div class="row">


            <div class="col col-lg-6 col-md-6 col-xs-12">

                <div class="panel">
                    <div class="panel-body text-center">
                        <div id="donut-example"></div>
                    </div>
                </div>
            </div>

            <div class="col col-lg-6 col-md-6 col-xs-12">

                <div class="panel">
                    <div class="panel-body text-center">
                        <div id="bar-example"></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

@section Scripts{
    
    <script>

        var morrisBar;
        var morrisDonuts;

        $(document).ready(function () {


            CargarDatosGrafico();

            var delayInMilliseconds = 30 * 1000; //1 second

            setInterval('CargarDatos()', delayInMilliseconds);
            

        });


        function CargarDatosGrafico() {

            var data = [];
            var data1 = [];

            $.ajax({
                url: '@Url.Action("ObtenerGrafico", "Estadisticas")',
                data: { idModalidad: '@Model.idModalidad' },
                "type": "GET",
                success: function (result) {
                    console.log(result);

                    var total = result.CantidadVotosTotales;

                    $.each(result.lstPlanilla, function (i, item) {

                        var object = {
                            label: item.Planilla,
                            value: item.Total
                        };

                        var object1 = {
                            y: item.Planilla,
                            data: item.Total
                        };

                        data.push(object);
                        data1.push(object1);
                    });

                    morrisDonuts = Morris.Donut({
                        element: 'donut-example',
                        data: data,
                        colors: ['#03a9f4', '#ec407a', '#d8dfe2'],
                        formatter: function (value, data) {
                            var result = (value / total * 100);


                            return result.toFixed(2) + '%';
                        }
                    });

                    morrisBar = Morris.Bar({
                        element: 'bar-example',
                        data: data1,
                        hideHover: true,
                        xkey: 'y',
                        ykeys: ['data'],
                        labels: ['Cantidad de Votos'],
                        barColors: function (row, series, type) {
                            console.log(row);

                            if (row.x == 0) {
                                return ['#03a9f4'];
                            }
                            else if (row.x == 1) {
                                return ['#ec407a'];
                            }
                            else {
                                return ['#00a65a'];
                            }
                        }
                    });


                }
            })
        }

        function CargarDatos() {
            
            var data = [];
            var data1 = [];

            $.ajax({
                url: '@Url.Action("ObtenerGrafico", "Estadisticas")',
                data: { idModalidad: '@Model.idModalidad' },
                "type": "GET",
                success: function (result) {
                    console.log(result);

                    var total = result.CantidadVotosTotales;

                    $.each(result.lstPlanilla, function (i, item) {

                        var object = {
                            label: item.Planilla,
                            value: item.Total
                        };

                        var object1 = {
                            y: item.Planilla,
                            data: item.Total
                        };

                        data.push(object);
                        data1.push(object1);
                    });

                    morrisDonuts.setData(data);

                    morrisBar.setData(data1);


                }
            })

        }


    </script>    
    
}
